/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
html {
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #555;
    text-shadow: none;
}
::selection {
    background: #ccc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #222;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    font-weight: normal;
    text-align: left;
    background-color: rgb(206, 43, 55);
    /*background: url(../img/wallpaper-428336.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
a{
    color: #fff;
}
.container {}
/*Section Header*/

.header {
    background-color: rgb(0, 146, 70);
    text-align: center;
    /*#009150;*/
}
.logo {
    padding: 10px;
    text-align: center;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #000;
    font-weight: normal;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: large;
}
/*Section Content*/

.carrusel {
    background-color: rgb(206, 43, 55);
    /*#bf3233;  #E60026;*/


}
/* Carousel base class */

.carousel {
    margin-top: 10px;
    border-radius: 5px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}
.carousel-caption h1 {
    text-transform: uppercase;
    color: #fff61a;
    font-weight: bold;
}

.map a{
    color: #00fffe;
    text-decoration: none;
}

/* Declare heights because of positioning of img element */




.zoom-images1 {
    display: block;
    position: relative;
    height: 215px;
    margin: 10px 0;
}
/*.zoom-images .info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.zoom-images .info h1 {
    font-weight: bold;
    color: white;
    font-size: 40px;
    margin: 55px 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.zoom-images .info h1 a {
    color: #ffff00;
}
.zoom-images .info h2 {
    margin-top: 0;
    color: white;
    font-size: 14px;
    font-family: georgia;
    font-style: italic;
}
.zoom-group {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}
.zoom-group .zoom-images:first-child {
    width: 100%;
    height: 469px;
}
.zoom-group .zoom-images:first-child h1 {
    margin-top: 190px;
    font-size: 30px;
}*/

#menu p {
    color: #333;
    text-align: justify;
}
#menu  h3,
h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

#contacto p {
    color: #333;
    text-align: justify;
}
#contacto  h3,
h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.sucursal {
    text-align: left;
    font-weight: bolder;
    border: 1px #bf3233 solid;
    border-style: double;
    margin: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.panel-body {
    text-align: left;
}
.page-header {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
    font-size: 40px;
    text-align: left;
}
#container-map {
    width: 100%;
    height: 250px;
    left: 0;
    position: relative;
}
#top-sfu {
    width: 100%;
    background: url(../img/top-sfu.png) repeat-x;
    height: 10px;
    position: absolute;
    z-index: 20;
    top: 0;
}
#bottom-sfu {
    width: 100%;
    background: url(../img/bottom-sfu.png) repeat-x;
    height: 10px;
    position: absolute;
    z-index: 20;
    bottom: 0;
}
#map-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}
.social {
    padding: 20px;
}
.footer {
    margin-top: 20px;
}
.navbar-text {
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
}

.about-me p{
    text-transform: lowercase !important;
}

.servicios{
    font-size: 25px;
}

td{text-align: left;}

.tooltip-inner{
    background-color: #333;
}

.card {
  position: relative;
  margin-bottom: .75rem;
  border: .0625rem solid #e5e5e5;
  border-radius: .25rem;
}

.card-block {
  padding: 1.25rem;
}

.card-title {
  margin-top: 0;
  margin-bottom: .75rem;
}

.card-subtitle {
  margin-top: -.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-radius: .25rem .25rem 0 0;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-radius: 0 0 .25rem .25rem;
}

.card-header {
  padding: .75rem 1.25rem;
  background-color: #f5f5f5;
  border-bottom: .0625rem solid #e5e5e5;
}

.card-header:first-child {
  border-radius: .1875rem .1875rem 0 0;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: #f5f5f5;
  border-top: .0625rem solid #e5e5e5;
}

.card-footer:last-child {
  border-radius: 0 0 .1875rem .1875rem;
}

.card-primary {
  background-color: #0275d8;
  border-color: #0275d8;
}

.card-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.card-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.card-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.card-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.card-inverse .card-header,
.card-inverse .card-footer {
  border-bottom: .075rem solid rgba(255, 255, 255, .2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
  color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-blockquote > footer {
  color: rgba(255, 255, 255, .65);
}

.card-inverse .card-link:focus,
.card-inverse .card-link:hover {
  color: #fff;
}

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

.card-img {
  border-radius: .25rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img-top {
  border-radius: .25rem .25rem 0 0;
}

.card-img-bottom {
  border-radius: 0 0 .25rem .25rem;
}

.card-deck {
  display: table;
  table-layout: fixed;
  border-spacing: 1.25rem 0;
}

.card-deck .card {
  display: table-cell;
  width: 1%;
  vertical-align: top;
}

.card-deck-wrapper {
  margin-right: -1.25rem;
  margin-left: -1.25rem;
}

.card-group {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.card-group .card {
  display: table-cell;
  vertical-align: top;
}

.card-group .card + .card {
  margin-left: 0;
  border-left: 0;
}

.card-group .card:first-child .card-img-top {
  border-top-right-radius: 0;
}

.card-group .card:first-child .card-img-bottom {
  border-bottom-right-radius: 0;
}

.card-group .card:last-child .card-img-top {
  border-top-left-radius: 0;
}

.card-group .card:last-child .card-img-bottom {
  border-bottom-left-radius: 0;
}

.card-group .card:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.card-group .card:not(:first-child):not(:last-child) .card-img-top,
.card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
  border-radius: 0;
}

.card-columns {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.card-columns .card {
  display: inline-block;
  width: 100%;
}

.page-header h2, h1{
  text-transform: capitalize;
}

.page-header h2 small{
  color: #fff;
}
